<div class="container">            
  <div id="signupbox" style="margin-top:5px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Completar el registro</div>
      </div>  
      <div class="panel-body" >
      <%= form_for(resource, as: resource_name, url: '/sign_up_validation', html: {class: 'form-horizontal' , method: :post }) do |f| %>
      
          <%= devise_error_messages! %>         
          <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">             
               <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>
          </div>
          
          <div class="form-group">
            <label for="firstname" class="col-md-3 control-label">Nombre</label>
            <div class="col-md-9">
              <%= f.text_field :name, autocomplete: "nombre", class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-md-3 control-label">Apellido</label>
            <div class="col-md-9">
              <%= f.text_field :last_name, autocomplete: "apellido", class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Contrase単a</label>
            <div class="col-md-9">              
                <%= f.password_field :password, autocomplete: "contrase単a", class:"form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-3 control-label">Confirmar contrase単a</label>
            <div class="col-md-9">
                <%= f.password_field :password_confirmation, autocomplete: "contrase単a", class:"form-control" %>
            </div>
          </div>        
       

          <div class="form-group">
            <!-- Button -->                                        
            <div class="col-md-offset-3 col-md-9">
              <%= f.submit "Completar registro", class:"btn be-green gray" %>
            </div>
          </div>
          
         
        <% end %>
      </div>
    </div>
  </div> 
</div>



